<!-- components/navbar.html -->
<nav class="sidebar navbar-container">
    <button class="tab-btn" data-target="/pages/menu.html">메뉴 관리</button>
    <button class="tab-btn" data-target="/pages/index.html">건의사항</button>
    <button class="tab-btn" data-target="/pages/calendar.html">MOD 및 연차신청</button>
    <button class="tab-btn" data-target="/pages/orders.html">주문 내역</button>
    <span style="flex:1"></span>
    <button class="tab-btn" data-target="/pages/login.html">로그인</button>
    <button class="tab-btn" data-target="/pages/signup.html">회원가입</button>
  </nav>